@media (min-width: 1024px) {
  .menu-mobile {
    display: none;
  }

  header {
    justify-content: space-around;
    background: #F15156;
  }

  .menu-desktop {
    display: flex;
    gap: 62px;
  }

  .menu-desktop a {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 110%;
    color: #FFFFFF;
    opacity: 0.5;
    transition: .3s ease;
  }

  .menu-desktop a:hover {
    opacity: 100;
  }

  .first-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  h1 {
    font-size: 72px;
    line-height: 110%;
    width: 519px;
  }

  .first-span {
    display: block;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;
    width: 407px;
    margin-top: 81px;
    padding-bottom: 222px;
  }

  .carrosel-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .carrosel {
    width: 592px;
    height: 386px;
    margin-bottom: 20px;
  }

  .carrosel img {
    width: 406px;
    height: 484px;
    margin-bottom: 85px;
  }

  .carrosel-buttonMobile {
    display: none;
  }

  .carrosel-buttonDesktop {
    background: #E44449;
    border-radius: 20px;
    width: 592px;
    height: 152px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carrosel-buttonDesktop button {
    padding: 27px 200px;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 17px;
    line-height: 15px;
    color: #0D3B66;
    border: none;
    background: #FFFFFF;
    border-radius: 8.65854px;
    cursor: pointer;
    transition: .5s ease;
  }

  .carrosel-buttonDesktop button:hover {
    zoom: 103%;
  }

  .second-content {
    text-align: left;
    padding-bottom: 70px;
    margin: 0 auto;
  }

  .second-title {
    margin-top: 140px;
    margin-bottom: 80px;
    margin-left: -420px;
    width: auto;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 110%;
    color: #0D3B66;
  }

  .second-textBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
  }

  .second-textBoxGrid {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-areas: "a b" "c c";
    gap: 32px;
  }

  .textBox:nth-child(1) {
    grid-area: a;
  }

  .textBox:nth-child(2) {
    grid-area: b;
  }

  .textBox:nth-child(3) {
    grid-area: c;
  }

  .textBox:nth-child(4) {
    grid-area: d;
  }

  .lastBox-desktop {
    width: 670px;
  }

  .second-boxDesktop {
    display: block;
    margin-left: 32px;
  }

  .third-contentMobile {
    display: none;
  }

  .aLotOfFriends {
    display: flex;
    justify-content: center;
    margin-bottom: 140px;
  }

  .aLotOfFriends-content {
    width: 1216px;
    height: 628px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-titleMobile {
    display: none;
  }

  .about-titleDesktop {
    display: block;
  }

  .about-title {
    padding-right: 97px;
  }

  .aLotOfFriends-text h2 {
    width: 416px;
    font-size: 48px;
    text-align: left;
  }

  .aLotOfFriends-content p {
    width: 490px;
    font-size: 20px;
    line-height: 110%;
  }

  .aLotOfFriends-text {
    display: flex;
    align-items: center;
    gap: 102px;
  }

  .aLotOfFriends-buttonAndCarrossel {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 280px;
    margin-left: 100px;
  }

  .aLotOfFriends-buttonAndCarrossel button {
    height: 0;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-top: 19px;
    padding: 28.33px 49.98px;
    margin-bottom: 70px;
  }

  .swiper {
    width: 600px;
    height: 300px;
    display: grid;
    justify-content: center;
  }

  .swiper-slide {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-friends {
    width: 384px;
    height: 261px;
  }

  .image-friends img {
    width: 384px;
    height: 192px;
  }

  .about {
    padding: 0 112px;
    width: 320px;
    margin: 0 auto;
  }

  .about-content {
    display: flex;
    justify-content: space-around;
    text-align: left;
    width: auto;
  }

  .about-content h2 {
    font-size: 48px;
    line-height: 90%;
  }

  .about-content h2 br {
    display: none;
  }

  .about-content p {
    width: 692px;
  }

  .about-person {
    display: flex;
    gap: 42px;
  }

  .contact {
    margin-top: 140px;
    width: 1231px;
    display: flex;
    justify-content:space-between;
    align-items: center;
  }

  .contact h3 {
    font-size: 48px;
    line-height: 90%;
  }

  .contact-imageFrame {
    width: 763.09px;
    margin-top: -31.90px;
  }

}