* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: #E44449;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  width: 150px;
}

.menu-mobile {
  background: #FFFFFF;
  padding: 14px 16px;
  border-radius: 8px;
}

.menu-mobile img {
  width: 20px;
}

nav {
  background: #E44449;
  border-radius: 0px 0px 20px 20px;
  border-top: 1px solid #FFFFFF;
  height: 163px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 27px;
  padding-bottom: 28px;

}

.menu-drop a {
  margin-left: 12px;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  color: #FFFFFF;
  opacity: 0.5;
  font-weight: 600;
  font-size: 18px;
  line-height: 110%;
}

.menu-drop a:hover {
  font-weight: 700;
  opacity: 100%;
  
}

.first-content {
  background: #F15156;
}

.friends {
  padding-top: 52px;
  color: #FFFFFF;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  line-height: 120%;
  margin-left: 21px;
}

span {
  font-weight: 800;
}

h1 {
  margin-top: 35px;
  margin-left: 21px;
  font-family: 'Nunito', sans-serif;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 44px;
  line-height: 110%;
  text-align: left;
  width: 280px;
}

.carrosel-content {
  display: grid;
  justify-content: center;
}

.carrosel {
  margin-top: 63px;
  background: linear-gradient(153.09deg, #F36A6F 17.23%, #E44449 73.77%);
  border-radius: 20px;
  width: 279px;
  height: 255px;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carrosel img {
  position: relative;
  margin-bottom: 22px;
}

.carrosel-button {
  margin-top: 180px;
  position: absolute;
}

.carrosel button {
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  font-size: 15px;
  line-height: 15px;
  color: #0D3B66;
  border: none;
  background: #FFFFFF;
  border-radius: 8.65854px;
  padding: 18.33px 77px;
}

.second-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-bottom: 70px;
}

.second-title {
  margin-top: 70px;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 320px;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
  color: #0D3B66;
}

.second-textBox {
  display: grid;
  gap: 10px;
}

.textBox {
  background: #FDECED;
  opacity: 0.5;
  border: 1px solid rgba(241, 81, 86, 0.3);
  border-radius: 20px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 75px;
  padding-bottom: 180px;
  width: 320px;
  height: 197px;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  line-height: 110%;
}

.textBox img {
  margin-bottom: 30px;
}

.third-content {
  margin-bottom: 70px;
  
}

.third-content img {
  width: 100%;
}

.third-background {
  /*background: #FDECED;
  opacity: 0.5;
  border: 1px solid rgba(241, 81, 86, 0.3);
  height: 284px;*/
}

.hide {
  display: none;
}